.header {
  background-color: #72777a;
  display: flex;
  justify-content: center;

  &__content {
    width: 70%;
  }
}

@media (max-width: 1500px) {
  .header {
    &__content {
      width: 80%;
    }
  }
}
@media (max-width: 815px) {
  .header {
    &__content {
      width: 97%;
    }
  }
}
